div#mainContent {
	margin: 15px 20% 5% 20%;
}

body {
	background-color: #6b6b6b;
	margin: 0px;
}

@media (max-width: 500px) {
    .image-text-container {
        flex-direction: column;
    }
	div#mainContent {
		margin: 15px 5% 5% 5%;
	}
}


