@keyframes onloadHeading {
	from {
		opacity: 0.2;
		margin-top: -15px;
	} to {
		opacity: 1;
		margin-top: 0px;
	}
}

#heading, .headstripe{
	-webkit-animation: onloadHeading 2.0s;
	animation: onloadHeading 2.0s;
}

div#heading{
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url(../website_heading.jpg);
	height: 385px;
}

div#headingWrapper {
	margin-left: auto;
	margin-right: auto;
}

div#headingText{
    font-family: 'Noto Serif', serif;
	margin-top: 5px;
	color: #fff;
	font-size: 40px;
	text-align: center;
	z-index: 4;
}

div#fixedHeadingText{
    font-family: 'Noto Serif', serif;
	margin-top: 0.5%;
	margin-left: 10px;
	color: #fff;
	font-size: 40px;
	float: left;
}

div#headStacking {
	top: 0px;
	position: relative;
	z-index: 2;
	height: auto;
}

div#regularHeading {
	height: 100%;
}

#headStacking > #regularHeading {
	top: 0px;
	position: relative;
	z-index: 4;
}

img#myFace {
	display: block;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}


.headStripe {
	width:100%;
	background-color: #404040;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

div#stripeText {
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Noto Serif', serif;
}

.fixedHeadStripe {
	overflow: hidden;
	width:100%;
	background-color: #404040;
	font-size: 30px;
	top: 0px;
	position: fixed;
	z-index: 0;
	margin-right: 5px;
}

.fixedHeadStripeConcealer {
	overflow: hidden;
	height: 400px;
	width:100%;
	background-color: #6b6b6b;
	top: 0px;
	position: absolute;
	z-index: 1;
}
