.headstripe {
	height:60px;
	width:100%;
	border:10px solid #606368;
	margin: -8px 0px 5px -8px;
	position: relative;
	background-color: #606368;
}
.headstripe h4{
	position: absolute;
	font-family: Impact, fantasy;
	font-size: 30px;
	top: -27px;
}
.headstripe img{
	position:absolute;
	left: 180px;
	top: 3px;
	width:40px;
	height:57px;
}
